body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1, h2, h3{
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 500;
}

p{
  font-family:'Poppins';
  color:#666666;
}

input {
  padding: 10px;
  margin-right: 10px;
  width: 30vw;
  border: 1px #9DC0F8 solid;
}

button {
  padding: 10px 15px;
  background-color: #9DC0F8;
  border-radius: 0px;
  text-transform: uppercase;
}

img {
  width: 100px;
  height: 100px;
}

.imgHeader {
  margin-top: -2vh;
}

.contenedor {
  margin-top: -4vh;
  text-align: center;
  margin-bottom: 10vh;
}

.subcontenedor{
  margin-top: -3.5vh;
  display:flex;
  flex-direction: row;
}

#busqueda{
  width:60vw;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  display: flex;
  margin: 5px 0;
  justify-content: center;
}

li button {
  padding: 8px;
  background-color: rgb(81, 97, 177);
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 2vw;
}

li button:hover {
  background-color: darkred;
}

input{
  margin-left: -3vw;
}

.radio {
  margin: 0;
  padding: 0;
}

.radio input {
  margin: 0;
}


#footer {
  background-color: #9DC0F8;
  display: flex;
  flex-direction: row;
  padding: 1vh;
  height: auto;
}

#social{
  display: flex;
  flex-direction: row;
}

#footer p {
  color: white;
  margin-left: 2vw;
}

#footer img {
  width: 3vw;
  margin-top: 1vh;
  height: auto;
  margin-left: 2vw;
}

#copyright p{
  text-align: right;
}
